In [24]:
import seaborn as sns
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [25]:
# Carregue o conjunto de dados do Titanic
df = sns.load_dataset('titanic')

In [72]:
# Crie a tabela de contingência
cont_table = pd.crosstab(
    df['survived'],
    df['sex'],
    margins=True,
    margins_name="total"
)

In [73]:
# Mostre a tabela de contingência
display(cont_table)

sex       female  male  total
survived
0             81   468    549
1            233   109    342
total        314   577    891

In [76]:
# Remova coluna e linha de total
cont_table.drop("total", axis=1, inplace=True)
cont_table.drop("total", axis=0, inplace=True)

In [84]:
# Mostre a tabela de contingência normalizada pelo total geral
display(cont_table / cont_table.sum().sum() * 100)

sex          female       male
survived
0          9.090909  52.525253
1         26.150393  12.233446

In [80]:
# Calcule a tabela de valores esperados
esperados_table = pd.DataFrame(
    np.outer(
        cont_table.sum(axis=1),
        cont_table.sum(axis=0)
    ) / cont_table.sum().sum(),
    columns=cont_table.columns,
    index=cont_table.index
)

In [83]:
# Mostre a tabela de valores esperados
display(esperados_table)

sex           female        male
survived
0         193.474747  355.525253
1         120.525253  221.474747

In [85]:

# Mostre a tabela de valores esperados normalizada pelo total geral
display(esperados_table / esperados_table.sum().sum() * 100)

sex          female       male
survived
0         21.714338  39.901824
1         13.526964  24.856874

In [97]:
# Calcule a tabela de resíduos
residuos_table = (cont_table - esperados_table)**2 / esperados_table

In [93]:
# Mostra a tabela de resíduos
display(residuos_table)

sex           female       male
survived
0          65.386150  35.582757
1         104.961977  57.119690

In [91]:
residuos_table.sum().sum()

0.5662965377263163

In [99]:
# Calcule o chi-quadrado
chi2 = residuos_table.sum().sum()
print("Qui-quadrado calculado:", chi2)

# Calcule o chi-quadrado pelo statsmodels
table = sm.stats.Table(cont_table)
chi2_sm = table.test_nominal_association().statistic
print("Qui-quadrado statsmodels:", chi2_sm)

Qui-quadrado calculado: 263.05057407065567
Qui-quadrado statsmodels: 263.0505740706556